.jumbotron {background-color: #3BD4CD;
}
.container {background-color: #813372;
  #982982;
  #896782;
  #982982;
  #B63E9E ;
  #896782;
}
.form-group {background-color: #927DA3;
}
.radio{font-size: 100%;
       color: #3BD4CD;

}
